[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PSAboot"]
	path = PSAboot
	url = https://github.com/jbryer/psaboot
[submodule "PSAgraphics"]
	path = PSAgraphics
	url = https://github.com/jbryer/psagraphics
[submodule "TriMatch"]
	path = TriMatch
	url = https://github.com/jbryer/trimatch
[submodule "brickset"]
	path = brickset
	url = https://github.com/jbryer/brickset
[submodule "likert"]
	path = likert
	url = https://github.com/jbryer/likert
[submodule "login"]
	path = login
	url = https://github.com/jbryer/login
[submodule "multilevelPSA"]
	path = multilevelPSA
	url = https://github.com/jbryer/multilevelpsa
